---
layout: default

link: Tell them to change their password Policy!
tweet: Security is important, @TWITTERHANDLE. We'd like it if you had a reasonable password policy.

link_progress: Thank them for working on improving your password policy
tweet_progress: Thanks for working on a better password policy, @TWITTERHANDLE!
hash: BadPasswordPolicies
---

{% include header.html page='home' %}

<div class="main container">
    <div class="ui grid">
        <div class="column">

            <div class="banner ui icon header">
                <i class="circular lock icon"></i>
                <h2>Password Policies</h2>
                <div class="sub header">List of websites and their password policies including length, character, symbol, and other restrictions.
                </div>
                <div class="sub header">
                    Also see the list of <a href="/managers/">password managers</a> and advice on how to use them.
                </div>
                <div id="{{ first.id }}" class="sub header">
                    Add your own favorite site by submitting a pull request on the
                    <a href="https://github.com/hoovercj/perfectpass">GitHub repo</a>.
                </div>
            </div>

        {% for section in site.data.main.sections %}

            {% comment %}
                Peform a downcase and sort on the list of websites to ensure the list is in
                alphabetical order.
            {% endcomment %}

            {% assign section_file = site.data[section.id] %}
            {% if section_file.websites.size > 0 %}

                {% capture website_names %}{% for website in section_file.websites %}{{ website.name | downcase | strip }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
                {% assign lowercase_names = website_names | split:',' | sort %}
                <div class="section">
                    <table class="ui table celled compact segment">
                        <thead>
                            <tr>
                                <th class="three wide"><h2>{{ section.title }}</h2></th>
                                <th>Length</th>
                                <th>Must contain chars from at least N of these categories</th>
                                <th>Banned Chars</th>
                                <th>Banned Values</th>
                                <th>Misc.</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in (0..lowercase_names.size) %}
                            {% capture lowercase_name %}{{ lowercase_names[item] | strip | strip_newlines }}{% endcapture %}
                            {% for website in section_file.websites %}
                                {% assign current_name = website.name | downcase %}
                                {% if lowercase_name == current_name %}
                                    <tr>
                                        <td class="main positive">
                                        {% if website.img %}
                                            <img src="/img/placeholder.png" data-src="/img/{{ section.id }}/{{ website.img }}" class="icon" alt="{{ website.name }}">
                                            <noscript><img src="/img/{{ section.id }}/{{ website.img }}" class="icon" alt="{{ website.name }}"></noscript>
                                        {% endif %}
                                            <a href="{{ website.url }}">{{ website.name }}</a>
                                            {% include exception.html website=website %}
                                        </td>

                                        <td class="positive icon">
                                        {% if website.length %}
                                            {{ website.length }}
                                        {% endif %}
                                        </td>

                                        <td class="positive icon">
                                        {% if website.categories %}
                                            {{ website.categories }}
                                        {% endif %}
                                        </td>

                                        <td class="positive icon">
                                        {% if website.bannedchars %}
                                            {{ website.bannedchars }}
                                        {% endif %}
                                        </td>

                                        <td class="positive icon">
                                        {% if website.bannedvalues %}
                                            {{ website.bannedvalues }}
                                        {% endif %}
                                        </td>

                                        <td class="positive icon">
                                        {% if website.misc %}
                                            {{ website.misc }}
                                        {% endif %}
                                        </td>    
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>

                {% unless forloop.last %}
                    <div class="ui divider" id="{{ site.data.main.sections[forloop.index].id }}" ></div>
                {% endunless %}
                </div><!-- Section -->
            {% endif %}
        {% endfor %}




        </div><!-- Column -->
    </div><!-- UI Grid -->
</div><!-- Main Container -->
