---
layout: default
---

{% include header.html page='resetpasswords' %}

<div class="main container">
    <div class="ui grid">
        <div class="column">
            <div class="banner ui icon header">
                <i class="circular privacy icon"></i>
                <h2>Reset Passwords</h2>
                <div class="sub header">
                  Triggers a password reset on a number of sites for a given email address.
                </div>                
            </div>

            <form id="reset-form" class="ui fluid form">
                <div class="field">
                	<label>Email Address</label>
                	<input id='reset-password-input' placeholder="email address" type="text">
                </div>
                <div id="reset-message" class="ui message" style="display: none;">
					<i id="reset-message-close-icon" class="close icon"></i>
					<div id="reset-message-header" class="header"></div>
					<div><p id="reset-message-body"></p></div>
				</div>                
            	<input type="submit" class="ui submit button" id="reset-password-button"></input>
            </form>

            <div class='footer ui'>
                Currently supports:
                <p>
                    {% for website in site.data.reset.websites %}
                        <a href="{{ website.url }}">{{ website.name }}</a>, 
                    {% endfor %}
                </p> 
            </div>

        </div><!-- Column -->
    </div><!-- UI Grid -->
</div><!-- Main Container -->
