<div class="ui inverted teal main menu">
    <div class="menu">
        <div class="right menu">
            <a href="{{ site.repo }}" class="item">
                <i class="github icon"></i>
                Contribute
            </a>
        </div>

    {% if include.page == 'home' %}
        <a href="/" class="active item">
    {% else %}
        <a href="/" class="item">
    {% endif %}
            <i class="protect icon"></i>
            Home
        </a>

    {% if include.page == 'managers' %}
        <a href="/managers" class="active item">
    {% else %}
        <a href="/managers" class="item">
    {% endif %}
            <i class="lock icon"></i>
            Password Managers
        </a>
    {% if include.page == 'resetpasswords' %}
        <a href="/resetpasswords" class="active item">
    {% else %}
        <a href="/resetpasswords" class="item">
    {% endif %}
            <i class="privacy icon"></i>
            Reset Passwords
        </a>    

{% if 1 == 0 %}
<!-- Don't show for right now -->
    {% if include.page == 'restrictions' %}
        <a href="/restrictions" class="active item">
    {% else %}
        <a href="/restrictions" class="item">
    {% endif %}
            <i class="warning icon"></i>
            Restrictions
        </a>
{% endif %}

    </div>
</div>
